/* ====================== */
/*         ASSETS         */
/* ====================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

:focus {
  outline: 0; }

.clear {
  clear: both;
  line-height: 0;
  font-size: 0; }

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

header,
nav,
section,
article,
aside,
footer {
  display: block; }

body {
  font-size: 20px;
  font-weight: 300;
  font-family: Arial; }

h1 {
  font-size: 38px;
  margin-bottom: 40px; }

h2 {
  font-size: 30px;
  margin-bottom: 40px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 7px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

p {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 35px; }

a {
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: underline; }

ul {
  list-style: disc;
  margin: 0 0 35px 22px; }
  ul li {
    margin-bottom: 7px; }

ol {
  list-style: decimal;
  margin-left: 22px; }
  ol li {
    margin-bottom: 7px; }

blockquote {
  display: inline-block;
  margin: 20px 20px 50px;
  border-left: 5px solid #547b93;
  padding: 20px;
  font-style: italic;
  background-color: #E4EAEF; }

select {
  padding: 10px 0px 10px 7px;
  background-color: #E4EAEF;
  font-size: 24px;
  width: 100%;
  line-height: 46px; }

input[type=text], input[type=tel], input[type=email], input[type=password], input[type=number] {
  padding: 8px 11px 24px;
  background-color: #E4EAEF;
  font-size: 20px;
  width: 100%;
  color: #000;
  margin-bottom: 10px !important; }

textarea {
  padding: 8px 11px 16px;
  height: 107px;
  background-color: #E4EAEF;
  resize: none;
  width: 100%;
  font-size: 20px;
  color: #000; }

input[type=submit] {
  cursor: pointer;
  padding: 16px 11px;
  font-size: 20px;
  background: #a5baca;
  display: inline-block; }

.wa-change-page {
  background: url(../images/sign-logo.png) no-repeat 50% 0;
  display: inline-block;
  text-decoration: none;
  padding: 53px 0 0 0; }

.wa-change-page:hover {
  text-decoration: underline; }

/* ====================== */
/*         LAYOUT         */
/* ====================== */
/* ======= HEADER ======= */
#wa-header {
  height: 103px;
  border-bottom: #758a9e 2px solid; }
  #wa-header nav ul {
    list-style: none;
    margin-left: 0;
    float: left; }
    #wa-header nav ul li {
      display: inline-block;
      margin-right: 36px;
      height: 94px;
      position: relative; }
      #wa-header nav ul li:hover > ul {
        display: block; }
      #wa-header nav ul li:hover > a {
        border-bottom: 9px solid #758a9e; }
      #wa-header nav ul li ul {
        width: 170px;
        height: auto;
        background-color: #758a9e;
        position: absolute;
        top: 101px;
        display: none; }
        #wa-header nav ul li ul li {
          display: block;
          height: inherit;
          margin: 0; }
          #wa-header nav ul li ul li:hover > a {
            border-bottom: none;
            background-color: #acbfce; }
          #wa-header nav ul li ul li ul {
            position: absolute;
            top: 0;
            left: 100%; }
          #wa-header nav ul li ul li a {
            color: #FFFFFF;
            border-bottom: none;
            padding: 10px 0 10px 20px; }
            #wa-header nav ul li ul li a:hover {
              border-bottom: none !important;
              background-color: #acbfce; }
      #wa-header nav ul li a {
        text-decoration: none;
        color: #04202e;
        display: block;
        border-bottom: 9px solid transparent;
        padding: 35px 0; }
        #wa-header nav ul li a:hover {
          border-bottom: 9px solid #758a9e; }
  #wa-header .wa-logo {
    float: right;
    margin-top: 22px; }
    #wa-header .wa-logo a {
      text-decoration: none;
      background: url(../images/logo.png) no-repeat;
      width: 267px;
      height: 55px;
      background-size: cover;
      text-indent: -9000px;
      display: block; }

/* ======= FOOTER ======= */
#wa-upper-footer {
  height: 104px;
  background: #10202c;
  margin: 0 0 2px;
  padding: 0 171px 0 37px; }
  #wa-upper-footer .wa-f-logo {
    float: left;
    margin: 26px 59px 0 0;
    font-size: 17.5px;
    color: #FFFFFF;
    line-height: 25px; }
  #wa-upper-footer .wa-address {
    float: left;
    width: 348px;
    margin: 28px 59px 0 0;
    font-size: 17.5px;
    color: #FFFFFF;
    line-height: 25px; }
  #wa-upper-footer .wa-email-phone {
    float: left;
    width: 247px;
    margin: 28px 0 0; }
  #wa-upper-footer .wa-email-phone a {
    font-size: 17.5px;
    color: #FFFFFF;
    line-height: 25px; }

#wa-lower-footer {
  height: 57px;
  background: #10202c;
  padding: 0 38px 0 38px;
  line-height: 58px;
  color: #FFFFFF;
  font-size: 14px;
  clear: both; }
  #wa-lower-footer .wa-site-by {
    float: right; }
    #wa-lower-footer .wa-site-by a {
      color: #FFFFFF;
      font-size: 14px; }

/* ======== BASE ======== */
#wa-wrapper {
  width: 1168px;
  margin: 0 auto; }

#wa-content {
  padding: 28px 0;
  clear: both; }
  #wa-content.wa-home-content {
    text-align: center;
    padding: 45px 0; }
    #wa-content.wa-home-content h1 {
      font-weight: 300;
      width: 700px;
      margin: 0 auto 50px;
      color: #04202e; }
    #wa-content.wa-home-content a {
      color: #04202e; }

/* ======== BANNER ======== */
#wa-wrapper #wa-banner {
  position: relative; }
  #wa-wrapper #wa-banner .wa-egg {
    position: absolute;
    top: 145px;
    left: 50%;
    margin-left: -120px; }
  #wa-wrapper #wa-banner .metaslider .slides li {
    list-style: none; }
    #wa-wrapper #wa-banner .metaslider .slides li img {
      vertical-align: bottom; }
  #wa-wrapper #wa-banner .metaslider .flex-control-nav {
    position: absolute;
    list-style: none;
    bottom: 30px;
    width: 100%;
    text-align: center;
    margin-left: 0; }
    #wa-wrapper #wa-banner .metaslider .flex-control-nav li {
      display: inline-block; }
      #wa-wrapper #wa-banner .metaslider .flex-control-nav li a {
        margin-right: 2px;
        width: 18px;
        height: 18px;
        display: block;
        text-indent: -9999px;
        border-radius: 50%;
        border: 3px solid #fff; }
      #wa-wrapper #wa-banner .metaslider .flex-control-nav li .flex-active {
        background: rgba(255, 255, 255, 0.4); }

/*# sourceMappingURL=style.css.map */
