body {
	font-size: 20px;
	font-weight: 300;
	font-family: Arial;
}

h1 {
	font-size: 38px;
	margin-bottom: 40px;
}

h2 {
	font-size: 30px;
	margin-bottom: 40px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 7px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

p {
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 35px;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: disc;
	margin: 0 0 35px 22px;

	li {
		margin-bottom: 7px;
	}
}

ol {
	list-style: decimal;
	margin-left: 22px;
	li {
		margin-bottom: 7px;
	}
}

blockquote {
	display: inline-block;
	margin: 20px 20px 50px;
	border-left: 5px solid #547b93;
	padding: 20px;
	font-style: italic;
	background-color: $mystic;
}
select {
	padding: 10px 0px 10px 7px;
	background-color: $mystic;
	font-size: 24px;
	width: 100%;
	line-height: 46px;

}

input[type=text], input[type=tel], input[type=email],input[type=password],input[type=number] {
	padding: 8px 11px 24px;
	background-color: $mystic;
	font-size: 20px;
	width: 100%;
	color: #000;
	margin-bottom: 10px !important;
}

textarea {
	padding: 8px 11px 16px;
	height: 107px;
	background-color: $mystic;
	resize: none;
	width: 100%;
	font-size: 20px;
	color: #000;
}

input[type=submit] {
	cursor: pointer;
	padding: 16px 11px;
	font-size: 20px;
	background: #a5baca;
	display: inline-block;
}

.wa-change-page {
	background: url(../images/sign-logo.png) no-repeat 50% 0;
	display: inline-block;
	text-decoration: none;
	padding: 53px 0 0 0;
}

.wa-change-page:hover {
	text-decoration: underline;
}
