// Brand Colors
$base-text-color: #000;

// Fonts
$museo100: 'Museo100';
$museo300: 'Museo300';
$museo500: 'Museo500';
$snuff: #DBDBEA;
$lynch: #758a9e;
$black-pearl: #04202e;
$white: #FFFFFF;
$big-stone: #10202c;
$black: #000000;
$gray: #808080;
$mystic: #E4EAEF;

$casper: #A5BACA;

$casper: #A5BACA;


// Base Vars
$container-w: 1168px;

