/* ======== BANNER ======== */

#wa-wrapper {

  #wa-banner {
    position: relative;

    .wa-egg {
      position: absolute;
      top: 145px;
      left: 50%;
      margin-left: -120px;
    }

    .metaslider {

      .slides {

        li {
          list-style: none;

          img {
            vertical-align: bottom;
          }
        }
      }

      .flex-control-nav {
        position: absolute;
        list-style: none;
        bottom: 30px;
        width: 100%;
        text-align: center;
        margin-left: 0;

        li {
          display: inline-block;

          a {
            margin-right: 2px;
            width: 18px;
            height: 18px;
            display: block;
            text-indent: -9999px;
            border-radius: 50%;
            border: 3px solid #fff;
          }

          .flex-active {
            background: rgba(255, 255, 255, 0.4);
          }
        }
      }
    }
  }
}