/* ======== BASE ======== */
#wa-wrapper {
    width: $container-w;
    margin: 0 auto;
}
#wa-content {
    padding: 28px 0;
    clear: both;
    &.wa-home-content {
        text-align: center;
        padding: 45px 0;
        h1 {
            font-weight: 300;
            width: 700px;
            margin: 0 auto 50px;
            color: $black-pearl;
        }
        a {
            color: $black-pearl;
        }

    }

}