/* ======= FOOTER ======= */
#wa-upper-footer {
    height: 104px;
    background: $big-stone;
    margin: 0 0 2px;
    padding:0 171px 0 37px;
    .wa-f-logo {
        float: left;
        margin: 26px 59px 0 0;
        font-size: 17.5px;
        color: $white;
        line-height: 25px;
    }
    .wa-address {
        float: left;
        width: 348px ;
        margin: 28px 59px 0 0;
        font-size: 17.5px;
        color: $white;
        line-height: 25px;
    }
    .wa-email-phone {
        float: left;
        width: 247px;
        margin: 28px 0 0;
    }
    .wa-email-phone a {
        font-size: 17.5px;
        color: $white;
        line-height: 25px;
    }
}
#wa-lower-footer {
    height: 57px;
    background: $big-stone;
    padding: 0 38px 0 38px;
    line-height: 58px;
    color: $white;
    font-size: 14px;
    clear: both;
    .wa-site-by {
        float: right;
        a {
            color: $white;
            font-size: 14px;
        }

    }
}