/* ======= HEADER ======= */
#wa-header {
	height: 103px;
	border-bottom: $lynch 2px solid;
	nav {
		ul {
			list-style: none;
			margin-left: 0;
			float: left;
			li {
				display: inline-block;
				margin-right: 36px;
				height: 94px;
				position: relative;
				&:hover > ul {
					display: block;
				}
				&:hover > a {
					border-bottom: 9px solid $lynch;
				}
				ul {
					width: 170px;
					height: auto;
					background-color: $lynch;
					position: absolute;
					top: 101px;
					display: none;
					li {
						display: block;
						height: inherit;
						margin: 0;

						&:hover > a {
							border-bottom: none;
                            background-color: #acbfce;
						}

						ul {
							position: absolute;
							top: 0;
							left: 100%;
						}

						a {
							color: $white;
							border-bottom: none;
							padding: 10px 0 10px 20px;

							&:hover {
								border-bottom: none !important;
								background-color: #acbfce;
							}
						}
					}
				}

				a {
					text-decoration: none;
					color: $black-pearl;
					display: block;
					border-bottom: 9px solid transparent;
					padding: 35px 0;

					&:hover {
						border-bottom: 9px solid $lynch;
					}
				}
			}
		}
	}

	.wa-logo {
		float: right;
		margin-top: 22px;

		a {
			text-decoration: none;
			background: url(../images/logo.png) no-repeat;
			width: 267px;
			height: 55px;
			background-size: cover;
			text-indent: -9000px;
			display: block;
		}
	}
}